<!DOCTYPE html>
<html lang="es">
 <%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/header.ejs') %> 
    <main class="p-3 pb-5">
        <h2 class="text-center text-danger"><%= sucursal.nombre %></h2>
        <p>Dirección: <%= sucursal.direccion %></p>
        <p>Teléfono:  <%= sucursal.telefono %></p>
        <h3 class="text-center text-success">Nuestros autos</h3>
        <section class="container">
          <div class="row">
            <% autos.forEach(auto => { %>
                <div class="card col-sm-12 col-md-4 col-lg-3 mb-1" >
                    <img src="/images/<%- auto.imagen %>" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title"><%- auto.marca %> </h5>
                      <p class="card-text"><%- auto.modelo %></p>
                      <p class="card-text"><%- auto.anio %></p>
                      <p class="card-text"><%- auto.color %></p>
                      <a href="/auto/<%- auto.id %>" class="btn btn-primary">VER AUTO</a>
                    </div>
                  </div>
            <% }) %>
          </div>
        </section>
      </main>
    <%- include('./partials/footer.ejs') %> 
    <%- include('./partials/scripts.ejs') %> 
</body>
</html>